html
  head
    title= "Sample express app"
  body
    h1= "Template express, rollup, vue app"
    p= "uses those technologies"
    pre(class="debug")
      code(class="debug__output")
    script(src="js/main.min.js")